* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'Noto Sans Mono', monospace;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 5.5%;
}

.logo {
    height: 50px;
}

.menu {
    width: 36px;
    height: 36px;
    background-color: #363738;
    border-radius: 23%;
    padding: 5px;
    box-sizing: content-box;
}

.hero {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.color-left {
    width: 100%;
    height: 100%;
    background-color: rgba(40, 238, 167, 0.93);
    padding : 48px;   
    animation: background-c 10s infinite; 
}

.hero-left {
    background-image: url(/assets/images/hero-left.png);
    background-size: cover;
    max-width: 49.7%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    align-items: flex-end;
}

.hero-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 154px;
    margin-bottom: 40px;
}

.hero-left h2{
    text-transform: uppercase;
    padding: 4px 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    color: #fcfcfd;
    background-color: #363738;
    margin-bottom: 0;
}

.hero-left h1{
    text-transform: uppercase;
    text-align: right;
    font-size: 36px;
    margin-top: 12px;
    padding-bottom: 5%;
    font-weight: 800;
    color: #363738;
    margin-bottom: 0;
    animation: text-c 10s infinite;
}

.hero-left-content p {
    line-height: 1.5;
    width: 97%;
    text-align: right;
    animation: text-c 10s infinite;
}

@media (max-width: 991px) {
    .hero {
        flex-direction: column;
    }
    .hero-left {
        min-width: 100%;
        min-height: 100%;
    }
    .hero-right {
        min-width: 100%;
        height: auto;
        max-height: 100%;
    }
    .milestones-content {
        flex-direction: column !important;
        gap: 10px !important;
    }
}

@keyframes background-c {
    0%, 33% {
        background-color: rgba(40, 238, 167, 0.93);
    }
    33%, 66% {
        background-color: rgba(251, 80, 142, 0.93);
    }
    66%, 100% {
        background-color: rgba(152, 100, 218, 0.93);
    }
}

@keyframes text-c {
    0%, 33% {
        color: #363738;
    }
    33%, 100% {
        color: #fcfcfd;
    }
}

.hero-left a {
    color: #fcfcfd;
    text-decoration: none;
    background-color: #363738;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 20px;
}

.hero-right {
    background-color: #363738;
    background-image: linear-gradient(rgba(35, 35, 35, .85), rgba(35, 35, 35, .85)), url(/assets/images/hero-right.png);
    background-size: cover;
    max-width: 50.3%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 152px;
    margin-bottom: 40px;
    padding: 50px;
}

.hero-right h2{
    text-transform: uppercase;
    padding: 4px 10px;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    background-color: #fcfcfd;
    color: #363738;
    margin-bottom: 0;
}

.hero-right h1{
    text-transform: uppercase;
    text-align: left;
    font-size: 36px;
    margin-top: 12px;
    padding-bottom: 5%;
    font-weight: 800;
    color: #fcfcfd;
    margin-bottom: 0;
}

.hero-right-content p {
    line-height: 1.5;
    width: 96%;
    text-align: left;
    color: #fcfcfd;
    margin-bottom: 3.2%;
}

.hero-right a {
    background-color: #fcfcfd;
    text-decoration: none;
    color: #363738;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13px 20px;
}

.vid-section {
    padding: 70px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-content-title span {
    padding-bottom: 0;
    padding-right: 0;
    font-size: 32px;
    font-weight: 900;
    color: rgba(40, 238, 167, 1);
    margin-bottom: 0;
}

.section-content-title h1 {
    padding-left: 20px;
    line-height: 1.4;
    font-size: 24px;
    font-weight: 800;
    color: #363738;
    text-align: left;
}

.section-content-title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.circles {
    display: flex;
    justify-content: space-evenly;
    width: 105px;
    margin-left: 4.5%;
}

.circle-dark {
    background-color: #363738;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-white {
    background-color: #fcfcfd;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-grey {
    background-color: #dcdee1;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-dark-grey {
    background-color: #a5a6a9;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-green {
    background-color: rgba(40, 238, 167, 1);
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.vid-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: 20px;
    border: 15px solid #28eea7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.milestones-section {
    padding: 70px;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.milestones-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.m-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.m-right-2 {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    margin-bottom: 3%;
}

.m-box, .m-left {
    padding: 8%;
    border-radius: 17px;
    background-color: #f1f2f3;
    color: #363738;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
}

.m-box h1, .m-left h1, .m-left h2 {
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #363738;
    text-align: left;
    font-size: 100px;
    font-weight: 900;
}

.milestones-content span {
    color: #363738;
    font-weight: bold;
}

.milestones-content p {
    line-height: 1.3;
}

.m-left h2 {
    line-height: 1.5;
    margin-bottom: 30px !important;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
    width: 80%;
    margin-bottom: 10px;
}

.m-box h1 {
    font-size: 64px;
    font-weight: 900;
}

.m-left {
    margin-right: 2%;   
    width: 100%;
}

.m-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.m-left li {
    text-align: left;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.m-left li::before {
    content: "_";
    padding-right: 8px;
    font-size: 8px;
}

.programs-section {
    padding: 50px 70px 70px 70px;
    background-color: rgba(40, 238, 167, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.programs-section .section-content-title h1 {
    background-color: #363738;
    color: #f1f2f3;
    padding-right: 20px;
    padding-bottom: 7px;
}

.programs-titles {
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: -20px;
    text-align: left;
    color: #363738;
    font-size: 12px !important;
    padding-left: 1%;
    align-self: flex-start;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.programs-titles h2 {
    padding: 20px 50px;
    border-radius: 10px 10px 0 0;
}

.card-container {
    margin-top: 0;
    background-color: #363738;
    display: flex;
    gap: 40px;
    border-radius: 20px;
    padding-right: 20px;
    align-items: center;
}

.card-container h1 {
    font-size: 24px;
}

.card-container span {
    color: #28eea7;
}

.card-text {
    grid-row-gap: 24px;
    color: #fcfcfd;
    border-radius: 20px;
    flex-direction: column;
    flex: 1;
    justify-content: flex-start;
    align-self: stretch;
    align-items: flex-start;
    padding: 40px;
    display: flex;
}

.card-footer {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.card-footer a {
    text-decoration: none;
    color: #fcfcfd;
    text-align: left;
    background-color: #232323;
    flex: none;
    justify-content: flex-start;
    align-self: stretch;
    align-items: center;
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    display: flex;
}

.card-footer strong {
    font-size: 16px;
    width: 21vw;
    font-weight: 800;
    align-self: stretch;
    text-align: right;
}

.card-img img{
    max-width: 100%;
    border-radius: 10px;
}

.card-img {
    width: 400px;
    height: 400px;
    min-height: 100px;
    object-fit: cover;
    border-radius: 10px;
}

.card-text p {
    font-size: 14px;
    line-height: 1.5;
    color: #dcdee1;
}

.hire-section {
    padding: 50px 70px 70px 70px;
    background-color: #363738;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.hire-section .section-content-title h1 {
    color: #f1f2f3;
}

.hire-container {
    margin-bottom: 4%;
    background-color: #232323;
    border-radius: 20px;
    flex: 1;
    align-self: stretch;
    padding: 40px;
    line-height: 1.5;
}

.hire-container h2 {
    font-size: 22px;
    color: #fcfcfd;
    font-weight: 900;
}

.hire-container h5 {
    padding: 15px 20px;
    color: #fcfcfd;
    background-color: #363738;
    font-weight: 400;
}

.hire-container span {
    color: #28eea7;
}

.hire-container ol {
    margin-top: 10px;
    padding-left: 40px;
    font-size: 15px;
    color: #dcdee1;
    line-height: 1.5;
}

.hire-container p {
    color: #dcdee1;
}

.hire-container a {
    display: flex;
    color: #fcfcfd;
    background-color: #363738;
    text-transform: uppercase;
    text-decoration: none;
    align-self: stretch;
    text-align: right;
    padding: 15px 20px;
    font-weight: 800;
}

.hire-footer {
    gap: 10px;
    justify-content: flex-end;
    font-weight: lighter;
    font-size: 19px;
    color: #dcdee1;
    display: flex;
    background-color: #232323;
    border-radius: 20px;
    flex: 1;
    align-self: stretch;
    padding: 10px;
}

.hire-footer a {
    padding-top: 12px;
    margin: 0;
    text-decoration: none;
}

.testimonials-section {
    padding: 50px 70px 70px 70px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.testimonial-container {
    background-color: #363738;
    border-radius: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 20px 64px;
    display: flex;
}

.t-container-text{
    display: flex;
    gap: 10%;
    flex-direction: column;
    align-items: flex-start;
    height: 60%;
}

.q-image {
    margin-bottom: 15px;
}

.t-description {
    color: #fcfcfd;
    font-weight: 400;
    line-height: 1.3;
}

.t-identity{
    margin-top: 15px;
    display: flex;
}

.identity-info span{
    color: #28eea7;
    padding: 0;
    margin: 0;
}

.identity-info h2 {
    font-size: 18px;
    color: #fcfcfd;
    padding: 0;
    margin: 10px;
}

.identity-info h5 {
    font-size: 14px;
    font-weight: 400;
    color: #fcfcfd;
    margin: 0;
    padding-left: 7%;
}

.identity-picture{
    margin-top: 7px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url('/assets/images/identity.jpeg');
    background-size: cover;
}

.t-picture img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px
}

.circle-pick{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

.circle-p{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #DCDEE1;
}
.circle-p4{
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #363738;
}

.faq-section {
    padding: 50px 70px 70px 70px;
    background-color: #363738;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.faq-section .section-content-title h1 {
    color: #f1f2f3;
}

.faq-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 20px;
}

.faq summary {
    list-style: none;
    color: #fcfcfd;
}

.faq span {
    text-transform: uppercase;
    color: #28eea7;
    font-weight: 800;
    margin-right: 15px;
}

.faq-details {
    margin-top: 40px;
    margin-bottom: 0;
}

.faq-details p, .faq-details h4 {
    color: #dcdee1;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 5px;
}

.faq-details span {
    color: #28eea7;
    font-weight: 400;
} 

.faq-details ul {
    color: #dcdee1;
    margin: 30px 0;
}

.faq-details li {
    margin-bottom: 5px;
    font-size: 14px;
}

.faq {
    cursor: pointer;
    width: 100%;
    display: block;
    padding: 30px;
    border-radius: 10px;
    background-color: #232323;
}

.faq-list a {
    text-decoration: none;
    color: #fcfcfd;
    text-transform: uppercase;
    font-weight: 800;
    background-color: #232323;
    flex: 1;
    text-align: right;
    padding: 15px 20px;
    width: 100%;
}

.contact-us-section {
    padding: 50px 70px 70px 70px;
    background-color: #28eea7;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.contact-us-section h4 {
    color: #a5a6a9;
    text-align: left;
    font-size: 15px;
    font-weight: 900;
    line-height: 1.4;
    margin: 10px;
}

.contact-us-section h5 {
    color: #fcfcfd;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.contact-us-section .section-content-title h1 {
    background-color: #363738;
    color: #f1f2f3;
    padding-right: 20px;
    padding-bottom: 7px;
}

.contact-us-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.map-container {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 10px;
}

.map-container iframe {
    border-radius: 10px;
}

.directions {
    flex-direction: column;
    padding: 40px;
    width: 320px;
    gap: 20px;
    flex: 0 auto;
    align-self: stretch;
    justify-content: space-between;
    display: flex;
    background-color: #363738;
    border-radius: 20px;
}

.contact-us-form {
    color: #fcfcfd;
    flex-direction: column;
    padding: 40px;
    width: 100%;
    height: 100%;
    align-self: stretch;
    display: flex;
    background-color: #363738;
    border-radius: 20px;
}

.contact-us-form span {
    color: #28eea7;
    font-weight: 800;
    font-size: 22px;
    margin-top: 0;
}

.row label {
    color: #fcfcfd;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: 900;
}

.row input[type="radio"] {
    padding: 0;
    margin-left: 0;
}

.contact-us-form input {
    padding: 15px;
    color: #fcfcfd;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
}

.contact-us-form textarea {
    padding: 15px;
    padding-bottom: 60px;
    width: 100%;
    white-space: nowrap;
    color: #fcfcfd;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 20px;
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.contact-us-form button{
    color: #363738;
    background-color: #28eea7;
    align-self: flex-end;
    padding: 15px 20px;
    text-transform: uppercase;
    font-weight: 800;
    cursor: pointer;
    border: 0;
}

.partners-section {
    padding: 50px 70px 70px 70px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.image-p-container {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    flex-wrap: wrap;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
    margin-bottom: 20px;
    display: grid;
}

.image-p-container img {
    height: 80px;
    object-fit: contain;
}

.newsletter-section {
    padding: 50px 70px 70px 70px;
    background-color: #363738;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.newsletter-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.newsletter-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 0;
    color: #fcfcfd;
    font-size: 14px;
}

.newsletter-text span {
    color: #28eea7;
    font-weight: 800;
    font-size: 22px;
    margin-top: 0;
}

.newsletter-text p {
    color: #a5a6a9;
}

.newsletter-form {
    flex: 0 auto;
    justify-content: flex-end;
    align-self: center;
    align-items: center;
    display: flex;
}

.newsletter-form input {
    height: 45px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
}

.newsletter-form button {
    height: 45px;
    background-color: #232323;
    flex: 1;
    text-transform: uppercase;
    padding: 15px 20px;
    font-weight: 800;
    color: #fcfcfd;
    border: 0;
    cursor: pointer;
}
