* {
    box-sizing: border-box;
}

body {
    min-height: 100%;
    font-family: 'Noto Sans Mono', monospace;
    scroll-behavior: smooth;
    font-size: 16px;
    line-height: 1;
    margin: 0;
    padding: 0;
    overflow: visible;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    margin: 0 auto;
    width: 100%;
    padding: 5.5%;
}

.logo {
    height: 50px;
}

.menu {
    width: 36px;
    height: 36px;
    background-color: #363738;
    border-radius: 23%;
    padding: 5px;
    box-sizing: content-box;
}

.hero {
    display: flex;
    min-height: 100%;
    width: 100%;
}

.color-left {
    width: 100%;
    height: 100%;
    background-color: rgba(40, 238, 167, 0.93);
    padding : 48px;   
    animation: background-c 10s infinite; 
}

.hero-left {
    background-image: url(/assets/images/hero-left.png);
    background-size: cover;
    max-width: 49.7%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px;
    align-items: flex-end;
}

.hero-left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    margin-top: 154px;
    margin-bottom: 40px;
}

.hero-left h2{
    text-transform: uppercase;
    padding: 4px 10px;
    text-align: right;
    font-size: 24px;
    font-weight: 900;
    color: #fcfcfd;
    background-color: #363738;
    margin-bottom: 0;
}

.hero-left h1{
    text-transform: uppercase;
    text-align: right;
    font-size: 36px;
    margin-top: 12px;
    padding-bottom: 5%;
    font-weight: 800;
    color: #363738;
    margin-bottom: 0;
    animation: text-c 10s infinite;
}

.hero-left-content p {
    line-height: 1.5;
    width: 97%;
    text-align: right;
    animation: text-c 10s infinite;
}

@media (max-width: 991px) {
    .hero {
        flex-direction: column;
    }
    .hero-left {
        min-width: 100%;
        min-height: 100%;
    }
    .hero-right {
        min-width: 100%;
        height: auto;
        max-height: 100%;
    }
    .milestones-content {
        flex-direction: column !important;
        gap: 10px !important;
    }
}

@keyframes background-c {
    0%, 33% {
        background-color: rgba(40, 238, 167, 0.93);
    }
    33%, 66% {
        background-color: rgba(251, 80, 142, 0.93);
    }
    66%, 100% {
        background-color: rgba(152, 100, 218, 0.93);
    }
}

@keyframes text-c {
    0%, 33% {
        color: #363738;
    }
    33%, 100% {
        color: #fcfcfd;
    }
}

.hero-left a {
    color: #fcfcfd;
    text-decoration: none;
    background-color: #363738;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 14px 20px;
}

.hero-right {
    background-color: #363738;
    background-image: linear-gradient(rgba(35, 35, 35, .85), rgba(35, 35, 35, .85)), url(/assets/images/hero-right.png);
    background-size: cover;
    max-width: 50.3%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-right-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    margin-top: 152px;
    margin-bottom: 40px;
    padding: 50px;
}

.hero-right h2{
    text-transform: uppercase;
    padding: 4px 10px;
    text-align: left;
    font-size: 24px;
    font-weight: 900;
    background-color: #fcfcfd;
    color: #363738;
    margin-bottom: 0;
}

.hero-right h1{
    text-transform: uppercase;
    text-align: left;
    font-size: 36px;
    margin-top: 12px;
    padding-bottom: 5%;
    font-weight: 800;
    color: #fcfcfd;
    margin-bottom: 0;
}

.hero-right-content p {
    line-height: 1.5;
    width: 96%;
    text-align: left;
    color: #fcfcfd;
    margin-bottom: 3.2%;
}

.hero-right a {
    background-color: #fcfcfd;
    text-decoration: none;
    color: #363738;
    font-size: 16px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 13px 20px;
}

.vid-section {
    padding: 70px;
    background-color: #f1f2f3;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.section-content-title span {
    padding-bottom: 0;
    padding-right: 0;
    font-size: 32px;
    font-weight: 900;
    color: rgba(40, 238, 167, 1);
    margin-bottom: 0;
}

.section-content-title h1 {
    padding-left: 20px;
    line-height: 1.4;
    font-size: 22px;
    font-weight: 800;
    color: #363738;
    text-align: left;
}

.section-content-title {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    
}

.circles {
    display: flex;
    justify-content: space-evenly;
    width: 105px;
    margin-left: 4.5%;
}

.circle-dark {
    background-color: #363738;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-white {
    background-color: #fcfcfd;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-grey {
    background-color: #dcdee1;
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.circle-green {
    background-color: rgba(40, 238, 167, 1);
    border-radius: 20px;
    width: 24px;
    height: 24px;
}

.vid-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: 20px;
    border: 15px solid #28eea7;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.milestones-section {
    padding: 70px;
    background-color: #fcfcfd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.milestones-content {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.m-right {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.m-right-2 {
    display: flex;
    flex-direction: row;
    gap: 2.5%;
    margin-bottom: 3%;
}

.m-box, .m-left {
    padding: 8%;
    border-radius: 17px;
    background-color: #f1f2f3;
    color: #363738;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
}

.m-box h1, .m-left h1, .m-left h2 {
    line-height: 1;
    padding: 0;
    margin: 0;
    color: #363738;
    text-align: left;
    font-size: 100px;
    font-weight: 900;
}

.milestones-content span {
    color: #363738;
    font-weight: bold;
}

.milestones-content p {
    line-height: 1.3;
}

.m-left h2 {
    line-height: 1.5;
    margin-bottom: 30px !important;
    margin-top: 20px;
    font-size: 30px;
    font-weight: 800;
    width: 80%;
    margin-bottom: 10px;
}

.m-box h1 {
    font-size: 64px;
    font-weight: 900;
}

.m-left {
    margin-right: 2%;   
    width: 100%;
}

.m-left ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.m-left li {
    text-align: left;
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.m-left li::before {
    content: "_";
    padding-right: 8px;
    font-size: 8px;
}